<% content_for :login_page do %>
  login-page
<% end %>

<div class="login-container">

  <div class="login-header login-caret">

    <div class="login-content">

      <a href="index.html" class="logo">
        <%= image_tag asset_url("swm_bi.jpg"), class: "login-logo" %>
      </a>

      <p class="description">SW Maestro 공동구매 서비스 SOMA09</p>

      <!-- progress bar indicator -->
      <div class="login-progressbar-indicator">
        <h3>0%</h3>
        <span>logging in...</span>
      </div>
    </div>

  </div>

  <div class="login-progressbar">
    <div></div>
  </div>

  <div class="login-form">

    <div class="login-content">

      <div class="form-login-error">
        <h3>Invalid login</h3>
        <p>Enter <strong>demo</strong>/<strong>demo</strong> as login and password.</p>
      </div>

      <div class="form-group">
        <a href="<%= omniauth_authorize_path('user', 'facebook') %>">
          <button type="button" class="btn btn-default btn-lg btn-block btn-icon icon-left facebook-button">
            Login with Facebook
            <i class="entypo-facebook"></i>
          </button>
        </a>

      </div>

    </div>

  </div>

</div>

