.post-list {
  margin-top: 30px;

  .menu-div {
    margin-top: 10px;

    .btn-group{
      width:100%;
      .btn{
        width:33.333333% !important
      }
    }
  }
}
.post-content {
  word-break: break-word;
}
.post-form {
  margin-top: 50px;
  margin-bottom: 20px;
}

.participants-panel {
  margin-top: 20px;
}

.participants-label {
  padding-right: 10px;
  border-right: 1px solid #cacaca;
  margin-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.participants-body {
  padding: 0;
}

.post-thumbnail {
  margin-top: 20px;

  .post-thumbnail-image {
    img {
      width: 100%;
    }
  }

  .post-thumbnail-title {
    font-size: 12pt;
    font-weight: bold;
  }

  .post-thumbnail-description {
    margin: 10px 0;
  }
}